@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #04041a;
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: ghostwhite;
    padding: 28px;
    border-radius: 8px;
    flex-direction: column;
}

.container form{
    display: flex;
    flex-direction: column;
}

.container form input{
    font-size: 24px;
    width: 324px;
    height: 42px;
    outline: none;
    padding-left: 10px;
    margin: 12px auto;
    border-radius: 4px;
    border: 1px solid black;
}

.container form input[type='submit']{
    border: 1px solid black;
    width: 342px;
}

.container form input[type='submit']:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.container h3{
    text-align: center;
}